p {
    color:red;
    font-size: 25px;
    background-color:black

}
 
p{


    /* margin-top:100px;
    margin-bottom: 100px;
    margin-righ:150PX;
    margin-left:80PX 
    margin: 100px 150px 100px 80px;
    margin: 100px 50px 80px; */
    margin: 100px 50px;
    margin: 100px;
}

div{
    background-color: blue;
    /* padding-top: 100px;
    padding-right: 50px;
    padding-left: 80px;
    padding-bottom: 80; */
    padding: 100px 50px 80px 100px;
    height: 100px;
    width: 50%
}




